.block-puppy1 {
  background-image: url("../assets/puppy1.webp");
}
.block-puppy2 {
  background-image: url("../assets/puppy2.webp");
}
.block-puppy3 {
  background-image: url("../assets/puppy3.webp");
}
.block-puppy4 {
  background-image: url("../assets/puppy4.webp");
}
