#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  position: relative;
  .puzzle-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .puzzle-block {
      width: 100px;
      height: 100px;
      box-shadow: 1px 1px 1px red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .win-message {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
  }
}

.moves-text {
  font-size: 24px;
  margin-bottom: 20px;
}

/* === party sparkles styles */
.party-container {
  position: fixed;
  left: 0;
  top: 0;
}
