#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  position: relative;
  .app-title {
    margin-top: 0;
  }
  .puzzle-container {
    border: 1px solid var(--yellow);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .puzzle-block {
      box-shadow: 1px 1px 1px var(--yellow);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .win-message {
    position: absolute;
    border: 1px solid var(--yellow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
  }
}

.puzzle-tip {
  margin: 0 0 20px;
}

.moves-text {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  line-height: 0;
  font-weight: 700;
  background-color: var(--green);
  color: #fff;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  vertical-align: middle;
  span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    position: relative;
    bottom: 4rem;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url("./assets/down-arrow.png");
    background-size: contain;
    p {
      font-size: 12px;
      line-height: 1.2;
      top: -50px;
      position: relative;
      font-size: 14px;
    }
  }
  .bounce {
    animation: bounce 2s infinite;
  }
}
/* ====== form styles ====== */
.submit-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  mark {
    background-color: transparent;
    color: var(--green);
    font-size: 12px;
    margin-top: 10px;
  }
  label {
    display: block;
    font-size: 18px;
  }
  input[type="text"] {
    width: 100%;
    border: 1px solid var(--yellow);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  button[type="submit"] {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 500;
    transition: border-color 0.25s;
    &:hover {
      border-color: var(--yellow);
    }
  }
}

/* === party sparkles styles */
.party-container {
  position: fixed;
  left: 0;
  top: 0;
}

/* ====== animations ====== */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
