#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: min-content;
  min-height: 100vh;
  user-select: none;
  background: var(--black) url("../assets/diagmonds.webp") repeat center center;

  .app-title {
    margin-top: 0;
  }
  .puzzle-container {
    border: 1px solid var(--yellow);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .puzzle-block {
      box-shadow: 1px 1px 1px var(--yellow);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .win-message {
    position: absolute;
    border: 1px solid var(--yellow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
  }
}

.puzzle-tip {
  margin: 0 0 20px;
}

.moves-text {
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: 32px;
  text-align: center;
  line-height: 0;
  font-weight: 700;
  background-color: var(--green);
  color: #fff;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  span {
    padding-left: 20px;
  }
  .arrow {
    position: relative;
    p {
      font-size: 12px;
      line-height: 1.2;
      position: relative;
      font-size: 20px;
    }
  }
}
/* ====== form styles ====== */
.submit-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  mark {
    background-color: transparent;
    color: var(--green);
    font-size: 12px;
    margin-top: 10px;
  }
  label {
    display: block;
    font-size: 18px;
  }
  input[type="text"] {
    width: 100%;
    border: 1px solid var(--yellow);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  button[type="submit"] {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 500;
    transition: border-color 0.25s;
    &:hover {
      border-color: var(--yellow);
    }
  }
}

.choose-puzzle-container {
  display: flex;
  margin-top: 60px;
}
.choose-puzle--submit {
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
}

/* ====== custom radio buttons ======= */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    background-color: var(--yellow);
    width: 100px;
    height: 100px;
    border-radius: 3px;
    transition: box-shadow 0.5s ease-in-out;
  }
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container input:checked ~ img {
  box-shadow: rgb(200 200 93 / 65%) 0px 0px 100px -10px,
    rgb(255 255 255 / 30%) 0px 30px 60px -30px;
}

/* === party sparkles styles */
.party-container {
  position: fixed;
  left: 0;
  top: 0;
}

/* ====== animations ====== */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
